.lxdiagram
{
  max-width: 991px;
}

.lx-panel-a-mcl
{
	cursor: pointer;
}

.lox-patreon
{
	color: white;
	background-color: rgb(5, 47, 72);
	padding: 0px;
	margin:0px;
	padding-left: 10px;
	overflow: hidden;
}

.patreonlogo
{
	width: 128px;
	float:left;
	cursor:pointer;
}

.patreonbutton
{
	float: right;
	width: 128px;
	padding-top: 10px;
	margin-top: -43px; /*35*/
	margin-right: 10px;
	transition: filter 0.5s ease;
	cursor: pointer;
}

.patreonbutton:hover
{
	filter: brightness(0.5);
}

.patreon-msg
{
	margin-top: 23px;
	font-family: Tahoma, "Segoe UI", "San Francisco", Helvetica, Arial, sans-serif;
	color: rgba(255,255,255,0.9);
}

.patreon-title
{
	padding: 0px;
	margin: 0px;
	padding-bottom: 5px;
}

.patreon-button2
{
	width: 128px;
	transition: filter 0.5s ease;
	cursor: pointer;
}

.patreon-button2:hover
{
	filter: brightness(0.5);
}
